//
//  APIKeys.xcconfig.template
//  Feelter
//
//  Created by Suji Jang on 1/4/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// 사용 방법:
// 1. 이 파일을 복사하여 'APIKeys.xcconfig' 이름으로 저장
// 2. 아래의 YOUR_XXX_HERE 부분을 실제 값으로 변경
// 3. APIKeys.xcconfig는 Git에 커밋하지 마세요 (.gitignore에 이미 설정됨)

BASE_URL = YOUR_BASE_URL_HERE

API_KEY = YOUR_API_KEY_HERE
